@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', 'Inter', sans-serif;
}

body {
  scroll-behavior: smooth;
}

section {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 450;
}

.welcome-text h1 {
  line-height: 2rem;
}

.navbar-link {
  font-size: medium;
}

.fs-input,
.task-input {
  border-radius: 25px;
  background: #f0f0f0;
  padding: 0.3em 1em;
  font-size: 1.2rem;
  display: block;
}

.fs-input {
  width: 13rem;
}

.fs-input::placeholder {
  color: #909090;
}

.fs-input:focus {
  border: 1px solid #909090;
}

.task-input {
  border-radius: 5px;
  padding: 0.3em 0 0 1em;
  width: 13rem;
  background: none;
}

.task-input:focus {
  outline: none;
  border-bottom: 2px solid rgb(156 153 175);
}

.overlay,
.input-container {
  display: none;
}

.overlay {
  position: fixed;
  background: #00000053;
  top: 0;
  left: 0;
  z-index: 800;
  transition: transform 0.5s ease-in-out;
  backdrop-filter: blur(0.25rem);
}

.input-container {
  background: #fff;
  position: fixed;
  top: 7rem;
  left: 0;
  z-index: 999;
  transition: transform 0.5s ease-in-out;
}

.overlay.active,
.input-container.active {
  display: block;
  animation: fade 0.5s ease-in-out forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 5;
  }
}

#todoText {
  line-height: 1rem;
}

.add-todo-con {
  position: fixed;
  background: #fff;
  bottom: 0;
  z-index: 500;
  /* box-shadow: 0px -2px 17px 2px rgba(0, 0, 0, 0.07); */
}

.add-todo {
  float: right;
}

.add-todo.active {
  z-index: 999;
  float: right;
  animation: small 0.7s ease-in-out forwards;
}

@keyframes small {
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
}

ul li {
  margin-right: 0.5rem;
}

.main-input-container > * + * {
  margin-left: 1.8rem;
}

input[type='checkbox'] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 1.3rem;
  height: 1.3rem;
  border: 2px solid #aeaeae;
  border-radius: 4px;
  border-radius: 50%;
}

/* input[type='checkbox']:checked {
  background-color: #13c200;
  border: 2px solid #13c200;
} */

input[type='checkbox'].done {
  background-color: #13c200;
  border: 2px solid #13c200;
}

article {
  display: none;
}

article.active {
  display: block;
  animation: fade 0.5s ease backwards;
}

button {
  display: block;
  border: none;
}

button.active-li {
  border-bottom: 2px solid rgb(31, 41, 55);
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fav-icon {
  color: #cccccc;
  transition: all 0.5s ease-in-out;
}

.reveal {
  position: relative;
  width: fit-content;
  display: flex;
  align-items: center;
}

.hover-to-fav {
  display: none;
}

.reveal:hover .hover-to-fav {
  display: block;
  border-radius: 5px;
  align-self: center;
  font-size: 0.85rem;
  width: 9rem;
  position: absolute;
  top: -120%;
  left: 70%;
  transform: translateX(-50%);
}

.favourite {
  color: gold;
  /* transition: all 0.9s ease-in-out; */
}

.strikethrough {
  text-decoration: line-through;
  color: #909090;
  /* transition: all 2s ease-in-out; */
}

.all-tasks {
  /* max-height: 70vh; */
  /* overflow-y: auto; */
}

::-webkit-scrollbar {
  width: 0rem;
}
